h2{
    background-color:brown;
    color: cornflowerblue;
}
.mango{
    background-color: darksalmon;
}
#peach{
    background-color:lightcyan;
}
.consoles{
    background-color:cornflowerblue;
    color: blanchedalmond;
}
#title{
    background-color:lightseagreen;
    color: lightgreen;
}
